<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main View</title>
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="top-nav">
        <span class="btn menu-btn pe-7s-more"></span>
        <div class="search">
            <span class="btn search-btn pe-7s-search"></span>
            <input id="search" type="text" placeholder="Search here items...">
        </div>
    </div>
    <div class="map">
        <div class="placeholder">
            <img src="img/basic_map.png" alt="">
            <p>Map Placeholder</p>
        </div>
    </div>
    <div class="bottom-nav">
        <span class="active pe-7s-cart cart-btn btn"></span>
        <span class="pe-7s-note2 category-btn btn"></span>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
